* {
    margin: 0;
    padding: 0;
}

.bg1 {
    top: 10%;
    left: 10%;
    position: absolute;
    display: block;
    background-color: rgb(105, 197, 63);
    height: 30%;
    width: 30%;
    border: 1px solid #444;
    overflow: hidden;
}

.bg2 {
    top: 10%;
    left: 10%;
    position: absolute;
    display: block;
    background-color: rgb(105, 197, 63);
    width: 30%;
    border: 1px solid #444;
    overflow: hidden;
}

.h1 {
    display: block;
    background-color: rgb(16, 208, 233);
    width: 100%;
    height: 33.4%;
    text-align: center;
    border: 1px solid #444;
}

.h2 {
    display: inline-block;
    background-color: rgb(233, 16, 215);
    width: 47%;
    padding: 0 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #444;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis */
}
























h1{
    position: absolute;
    top: 10%;
    left:45%;
    color:#fff;
    font-family: '宋体';
    font-size: 44px;
    font-weight: bolder;
}
h3{
    position: absolute;
    top: 18%;
    left:55%;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cube_back {
    position: absolute;
    float: left;
    /* background-color: #f3f3f3; */
    width: 50%;
    height: 100%;
}

#login_back {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}

/* 旋转立方体left */

@keyframes box {
    from {
        transform: rotateX(0deg) rotateY(0deg);
        /* transform: rotateY(0deg); */
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
        /* transform: rotateY(360deg); */
    }
}

.cube{
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 25px;
    transform-style: preserve-3d;
    animation: box 60s infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cube div {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    position: absolute;
    left: 100px;
    top: 500px;
    /* font-size: 40px;
    line-height: 350px; */
    text-align: center;
    color: rgb(245, 238, 238);
}

.one {
    background-color: rgba(250, 0, 196, 0.7);
    transform: rotateX(90deg) translateZ(25px);
}

.two {
    background-color: rgb(252, 164, 33, 0.7);
    transform: rotateX(-90deg) translateZ(25px);
}

.three {
    background-color: rgb(255, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(25px);
}

.four {
    background-color: rgba(5, 202, 21, 0.7);
    transform: rotateY(-90deg) translateZ(25px);
}

.five {
    background-color: rgba(6, 10, 255, 0.7);
    transform: rotateZ(360deg) translateZ(25px);
    ;
}

.six {
    background-color: rgba(251, 255, 2, 0.7);
    transform: translateZ(-25px);
}